.jumbotron-fluid{
    background-color: #1c2b4f;
    color: white;
    text-align: center;
}
h2{
    margin-bottom: 5%;
}
.card{
    color: black;
    margin-top: 4%;
    margin-bottom: 4%;
}
.display-4_where{
    font-size: 150%;
}
footer{
    background-color: #585858;
    color: white;
    text-align: center;  
}


